* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 600px;
  height: 500px;
  background-color: #fff;
  border-radius: 5px;
}
